<h1>
     <%= title %>
</h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <% if(locals.user){%>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
            <input type="submit" value="Post">
        </form>
        <%}%>
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){ %>
                        
                        <%- include('_post')-%>
                        <%} %>
                </ul>
            </div>
</section>
<div><%- include('_chat_box') -%>
<section>
    <% for(u of allUser) {%>
      <p>
          <a href="/users/profile/<%= u.id%>"><%= u.name%></a>
      </p>
       
        
        <%}%>
</section>

</div>
<!-- <script src="/jsFile/home_posts.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js" integrity="sha512-YybopSVjZU0fe8TY4YDuQbP5bhwpGBE/T6eBUEZ0usM72IWBfWrgVI13qfX4V2A/W7Hdqnm7PIOYOwP9YHnICw==" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="/jsFile/chat_engine.js"></script>
<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%= locals.user._id %>')
</script>
<% } %>